<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
    <script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>
    <title><%- include("partials/siteName.ejs") %> - Edit Payments</title>
    <link rel="icon" type="image/x-icon" href="../css/images/favicon.png">
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <link href="css/sb-admin-2.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../alertifyjs/css/alertify.min.css" />
    <link rel="stylesheet" href="../alertifyjs/css/themes/default.min.css" />
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
</head>
<body id="page-top">
    <!-- Page Wrapper -->
    <div id="wrapper">
        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
        <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.php">
            <div class="sidebar-brand-icon rotate-n-15">
            <i class="fas fa-laugh-wink"></i>
            </div>
            <div class="sidebar-brand-text mx-3"><%- include("partials/siteName.ejs") %> admin <sup></sup></div>
        </a>
        <hr class="sidebar-divider my-0">
        <li class="nav-item">
            <a class="nav-link" href="/admin-dashboard">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Dashboard</span>
            </a>
        </li>
        <hr class="sidebar-divider">
        <div class="sidebar-heading">
            Interface
        </div>
        <li class="nav-item  active">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
            <i class="fas fa-fw fa-cog"></i>
            <span>User management</span>
            </a>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Users:</h6>
                <a class="collapse-item" href="/register-users">Add users</a>
                <a class="collapse-item" href="/edit-users">Manage Clients</a>
                <a class="collapse-item" href="/edit-portfolios">Manage Portfolios</a>
                <a class="collapse-item" href="/newsletter">Promotional emails</a>
                <a class="collapse-item" href="/messages">Messages</a>
            </div>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUtilities" aria-expanded="true" aria-controls="collapseUtilities">
            <i class="fas fa-fw fa-wrench"></i>
            <span>Settings</span>
            </a>
            <div id="collapseUtilities" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Admin settings:</h6>
                <a class="collapse-item" href="/change-password">Change password</a>
                <a class="collapse-item" href="/change-username">Change username</a>
                <a class="collapse-item" href="/change-email">Login email</a>
                <a class="collapse-item" href="/site-info">Site info</a>
                <a class="collapse-item" href="/plans">Investment Plans</a>
                <a class="collapse-item" href="/payments">Payment methods</a>
            </div>
            </div>
        </li>
        <hr class="sidebar-divider">
        <li class="nav-item">
            <a class="nav-link" href="/tables">
            <i class="fas fa-fw fa-table"></i>
            <span>Clients</span>
            </a>
        </li>
        <li class="nav-item ">
            <a class="nav-link" href="#" data-toggle="modal" data-target="#logoutModal">
            <i class="fas fa-sign-out-alt"></i>
            <span>Logout</span>
            </a>
        </li>
        <hr class="sidebar-divider d-none d-md-block">
        <div class="text-center d-none d-md-inline">
            <button class="rounded-circle border-0" id="sidebarToggle"></button>
        </div>
        <div class="sidebar-card d-none d-lg-flex">
            <img class="sidebar-card-illustration mb-2" src="img/undraw_rocket.svg" alt="...">
            <p class="text-center mb-2"><strong>Developed by vic3</strong></p>
            <a class="btn btn-success btn-sm" href="mailto:kkvic4@gmail.com">Contact me</a>
        </div>
        </ul>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">
        <!-- Main Content -->
        <div id="content">
            <!-- Topbar -->
            <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
            <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                <i class="fa fa-bars"></i>
            </button>
            <ul class="navbar-nav ml-auto">
                <div class="topbar-divider d-none d-sm-block"></div>
                <li class="nav-item dropdown no-arrow">
                <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="mr-2 d-none d-lg-inline text-gray-600 small"><%= admin_name %></span>
                    <img class="img-profile rounded-circle" src="img/undraw_profile.svg">
                </a>
                <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                    <a class="dropdown-item" href="change-password.php">
                    <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                    Change password
                    </a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                    Logout
                    </a>
                </div>
                </li>
            </ul>
            </nav>
            <!-- End of Topbar -->

            <!-- Begin Page Content -->
            <div class="container-fluid">
            <h1 class="h3 mb-2 text-gray-800">Edit Payment methods</h1>
            <center>
                <button class="btn btn-primary" data-toggle="modal" data-target="#bank-modal">Bank transfer</button>
            </center>
            <!-- Bank Modal -->
            <div class="modal fade" id="bank-modal">
                <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                    <h4 class="modal-title">Edit Bank transfer details</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                    <form id="bank-form" method="POST" action="/edit-payments">
                        <div class="form-group">
                        <label>Bank name:</label>
                        <input type="text" name="bank_name" class="form-control" value="<%= bank.bank_name %>">
                        </div>
                        <div class="form-group">
                        <label>Bank details:</label>
                        <div id="bank-container"><%= bank.bank_details %></div>
                        <input type="hidden" name="bank_details" id="bank-details">
                        </div>
                        <div class="form-group">
                        <label>Account details:</label>
                        <div id="account-container"><%= bank.account_details %></div>
                        <input type="hidden" name="account_details" id="account-details">
                        </div>
                        <div class="form-group">
                        <label>Active:</label>
                        <select name="bankActive" class="form-control">
                            <option value="yes" <%= bank.active ? 'selected' : '' %>>Yes</option>
                            <option value="no" <%= !bank.active ? 'selected' : '' %>>No</option>
                        </select>
                        </div>
                        <button type="submit" class="btn btn-success" onclick="filltext()">Update bank transfer details</button>
                    </form>
                    </div>
                </div>
                </div>
            </div>
            <!-- Payment Methods -->
            <div class="row">
                <!-- Display other payment methods here -->
            </div>
            </div>
            <!-- /.container-fluid -->
        </div>
        <!-- End of Main Content -->

        <!-- Footer -->
        <footer class="sticky-footer bg-white">
            <div class="container my-auto">
            <div class="copyright text-center my-auto">
                <span>Copyright &copy; <%- include("partials/siteName.ejs") %> <%= new Date().getFullYear() %></span>
            </div>
            </div>
        </footer>
        <!-- End of Footer -->
        </div>
        <!-- End of Content Wrapper -->
    </div>
    <!-- End of Page Wrapper -->
    <script>
        var quill = new Quill('#account-container', {
        modules: { toolbar: true },
        placeholder: 'Leave empty if you dont want to change this',
        theme: 'snow'
        });
        var quill2 = new Quill('#bank-container', {
        modules: { toolbar: true },
        placeholder: 'Leave empty if you dont want to change this',
        theme: 'snow'
        });

        function filltext() {
        $("#account-details").val(quill.container.firstChild.innerHTML);
        $("#bank-details").val(quill2.container.firstChild.innerHTML);
        }
    </script>
</body>
</html>
