<%- include("partials/head.ejs") %>  
<style>
  @media screen and (min-width:205px){
    .card{
      width:46%;
      margin:5px;
    }
  }

  @media screen and (min-width:765px){
    .card{
      width:23%;
      margin:5px;
      padding: auto;
      align-items: center;
      text-align: center;
    }
  }
  img{
    width:60%;
    height: 150px;
    margin-left: 10%;
  }
  .card{
    padding: 4px;
    display: flex;
  }
  .card-text{
    text-align: center;
    color:black;
  }
  /* .row{
    display: flex;
    
  } */
  .card-price{
    color:black;
    display: inline;
    color:darkgrey;
    font-weight: 300;
  }
  .redtxt, .greentxt{
    display: inline;
    float:right;
    text-align: right;

  }
  .smalltxt{
    font-weight: 300;
    text-align: center;
    font-size: 14px;
    color:darkgrey;
  }
  .redtxt{
    color:red;
  }
  .greentxt{
    color:green;
  }
  h4{
    text-align: center;
  }

</style>            
            <!-- / Content -->
<p class="text-center">Select any asset to invest in</p>

  <h4>Crypto Currencies</h4>
  <hr>
  <br>
  <div class="row">
    <% crypto.forEach(currency => { %>
      <a href="/create-portfolio?ticker=<%= currency.id %>" class="card">
        <img src="<%= currency.image %>" alt="<%= currency.name %>">
        <div class="card-text">
          <%= currency.name %>
        </div>
        <div class="card-price">
        </div>
        <div class="<%= currency.price_change_percentage_24h < 0 ? 'redtxt' : 'greentxt' %>">
          <%= currency.price_change_percentage_24h.toFixed(2) %>%
        </div>
        <div class="smalltxt">1D change</div>
      </a>
    <% }); %>
  </div>

  <br><br>
  <h4>Commodities</h4>
  <hr>
  <div class="row">
    <% commodities.forEach(commodity => { %>
      <div class="card">
        <img src="<%= commodity.image %>" alt="<%= commodity.name %>">
        <div class="card-text"><%= commodity.name %></div>
        <div class="card-price"><%= commodity.price %></div>
        <div class="<%= commodity.change < 0 ? 'redtxt' : 'greentxt' %>"><%= commodity.change %> %</div>
        <div class="smalltxt">1D change</div>
      </div>
    <% }); %>
  </div>
  <br>
  
<%- include("partials/foot") %>