<!DOCTYPE html>
<html lang="en" style="scroll-behavior: smooth;">
  <meta charset="UTF-8" /> 
  <title> <%- include("partials/siteName") %> -Trading bot</title>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
  <!------ Include the above in your HEAD tag ---------->
  <link rel="stylesheet" href="css/font-awesome.min.css" type="text/css">
  <script src='https://kit.fontawesome.com/a076d05399.js'></script>
  <script src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js'></script>
  <!------ my HEAD tag ---------->

<link rel="icon" type="image/png" href="css/images/Alpha12.png" />
<meta name="viewport" content="user-scalable=no" /> 
<meta name="description" content=" <%- include("partials/siteName") %> trading bots are a great way to make money. They automate trades for you so that you can get more time to focus on other things in life.">
<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0,' name='viewport' />
<meta name="viewport" content="width=device-width" />
<meta name="theme-color" content="#000000" />
<body>


<link rel="stylesheet" href="css/trading-bot.css">
<div class="background">
  <div class="container">
    <div class="panel pricing-table">
      
      <div class="pricing-plan">
        <img src="https://s22.postimg.cc/8mv5gn7w1/paper-plane.png" alt="" class="pricing-img">
        <h2 class="pricing-header">Apexbot</h2>
        <ul class="pricing-features">
          <li class="pricing-features-item">Duration : 6 months</li>
          <li class="pricing-features-item">Rate: 10%</li>
          <li class="pricing-features-item">Sleeps after 30 mins of inactivity</li>
        </ul>
        <span class="pricing-price">$4,000</span>
        <a href="/portfolios" class="pricing-button">Use</a>
      </div>
      
      <div class="pricing-plan">
        <img src="https://s28.postimg.cc/ju5bnc3x9/plane.png" alt="" class="pricing-img">
        <h2 class="pricing-header">Gunbot</h2>
        <ul class="pricing-features">
          <li class="pricing-features-item">Duration: 6 months</li>
          <li class="pricing-features-item">Rate: 25%</li>
          <li class="pricing-features-item">Highlights : Includes stop loss order </li>
        </ul>
        <span class="pricing-price">$14,000</span>
        <a href="/portfolios" class="pricing-button is-featured">Use</a>
      </div>
      
      <div class="pricing-plan">
        <img src="https://s21.postimg.cc/tpm0cge4n/space-ship.png" alt="" class="pricing-img">
        <h2 class="pricing-header">Zenbot (emergency bots)</h2>
        <ul class="pricing-features">
          <li class="pricing-features-item">Duration: 1 year</li>
          <li class="pricing-features-item">Rate: 50%</li>
          <li class="pricing-features-item">Highlights : Includes stop loss order </li>
        </ul>
        <span class="pricing-price">$35,000</span>
        <a href="/portfolios" class="pricing-button">Use</a>
      </div>
      
    </div>
  </div>
</div>

  <br>
  <br>
  <h2>Trading bots</h2><hr>
  <br>
  <p class=p-cont>Trade your cryptocurrency now with Our trading robots, the automated crypto trading bot.  <%- include("partials/siteName") %> trading bots helps you control the risk with auto trading tools, helps with account synchronization to auto copy - trades. Contact support for more enquires</p>
  
  <h2><%- include("partials/siteName") %> Trading bots</h2><hr>
  <br>
  
  <p class="p-cont"> <%- include("partials/siteName") %> trading bots are a great way to make money. They automate trades for you so that you can get more time to focus on other things in life. With these robots, it is possible to set the parameters of what kind of trading strategies they use and how often they trade. 
    <%- include("partials/siteName") %> has set this bots to automate trades and close trades when the profits for the day has been realized.
  The reason for most losses in trading is due to emotions and bots do not have emotions.</p>

</body>
</html>