<%- include("partials/head") %>
    <div class="row">
        <div class="col-lg-6 mx-auto">
            <div class="card mb-4">
                <div class="card-header d-flex justify-content-between align-items-center">
                    <h5 class="mb-0">Fund your portfolio</h5>
                    <small class="text-muted float-end"></small>
                </div>
                <div class="card-body">
                    <form method="post" action="/fund-portfolio">
                        <div class="mb-3">
                            <label class="form-label" for="portfolio">Select portfolio</label>
                            <div class="input-group input-group-merge">
                                <span class="input-group-text"><i class="bx bx-buildings"></i></span>
                                <select class="form-control" name="portfolio" id="portfolio" required>
                                    <% if (portfolios.length > 0) { portfolios.forEach(portfolio => { %>
                                        <option value="<%= portfolio.id %>"><%= portfolio.portfolio_name %> | <%= portfolio.ticker %></option>
                                    <% }) } %>
                                </select>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label class="form-label" for="plan">Select plan</label>
                            <div class="input-group input-group-merge">
                                <span class="input-group-text"><i class="bx bx-buildings"></i></span>
                                <select class="form-control" name="plan" id="plan" required>
                                    <% if (plans.length > 0) { plans.forEach(plan => { %>
                                        <option value="<%= plan.id %>"><%= plan.term %></option>
                                    <% }) } %>
                                </select>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label class="form-label" for="currency">Which currency do you prefer to pay with</label>
                            <div class="input-group input-group-merge">
                                <span class="input-group-text"><i class='bx bx-timer'></i></span>
                                <select class="form-control" name="currency" id="currency" required>
                                    <% if (paymentMethods.length > 0) { paymentMethods.forEach(payment => { %>
                                        <option value="<%= payment.currency %>"><%= payment.currency %></option>
                                    <% }) } %>
                                </select>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label class="form-label" for="amount">Amount you want to deposit</label>
                            <div class="input-group input-group-merge">
                                <span class="input-group-text"><i class='bx bx-dollar-circle'></i></span>
                                <input type="number" name="amount" class="form-control" placeholder="20,000" aria-label="20,000" required />
                                <span class="input-group-text">USD</span>
                            </div>
                            <div class="form-text">You can use numbers & periods</div>
                        </div>
                        <button type="submit" class="btn btn-primary">Deposit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
<%- include("partials/foot") %>