<%- include("partials/head") %>
<!-- Transactions -->
<div class="row">
  <div class="col-md-12 col-lg-12 order-2 mb-4 mx-auto">
    <div class="card h-100">
      <div class="card-header d-flex align-items-center justify-content-between">
        <h5 class="card-title m-0 me-2">Withdrawals</h5>
        <div class="dropdown"></div>
      </div>
      <div class="card-body">
        <div class="table-responsive text-nowrap">
          <table class="table">
            <thead>
              <tr>
                <th>Transaction ID</th>
                <th>Portfolio</th>
                <th>Amount</th>
                <th>Status</th>
                <th>Date</th>
              </tr>
            </thead>
            <tbody class="table-border-bottom-0">
              <% if (transactions.length > 0) { %>
                <% transactions.forEach(transaction => { %>
                  <tr>
                    <td>#<%= transaction.id %></td>
                    <td><i class="fab fa-angular fa-lg text-danger me-3"></i> <strong><%= transaction.portfolio_name %></strong></td>
                    <td>$<%= transaction.amount %></td>
                    <td><span class="badge bg-label-primary me-1"><%= transaction.status %></span></td>
                    <td><%= transaction.date %></td>
                  </tr>
                <% }) %>
              <% } else { %>
                <tr>
                  <td colspan="5">No transactions found.</td>
                </tr>
              <% } %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<!--/ Transactions -->
<%- include("partials/foot") %>