
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Title -->
    <title><%- include("partials/siteName") %></title>

    <%- include("partials/csshead") %>



</head>
    <%- include("translate.ejs") %>
<body>
    <!-- ##### Preloader ##### -->
    <div id="preloader">
        <i class="circle-preloader"></i>
    </div>

    <!-- ##### Header Area Start ##### -->
    <%- include("partials/header") %>
    <!-- ##### Header Area End ##### -->
 
    <!-- ##### Breadcumb Area Start ##### -->
    <div class="breadcumb-area">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-12 col-md-6">
                    <div class="breadcumb-text">
                        <h2>Who are we?</h2>
                    </div>
                </div>
            </div>
        </div>
        <!-- Breadcumb Thumb Area -->
        <div class="breadcumb-thumb-area">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="breadcumb-thumb">
                            <img src="img/bg-img/5867.jpg" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ##### Breadcumb Area End ##### -->

    <!-- ##### About Area Start ##### -->
    <section class="cryptos-about-area section-padding-100-0">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-12 col-md-6">
                    <div class="about-thumbnail mb-100">
                        <img src="img/bg-img/5867.jpg" alt="">
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <div class="about-content mb-100">
                        <div class="section-heading">
                            <h3>Let’s change <br><span>the world</span> together</h3>
                            <h5><%- include("partials/siteName") %> is a regulated and secure online broker with over 10 years of market experience. We enable crypto traders worldwide to invest in over 750 financial instruments while benefiting from excellent trading Conditions and a wide variety of special offers. </h5>
                            <h5>
                            The company, <%- include("partials/siteName") %> is in affiliation with mutual funds. 
                            </h5>
                            <p>Our trading platforms, Our proprietary trading platforms for mobile and web are equipped with innovative trading tools and allow traders to instantly access the world's financial markets, day or night. Clients can access live charts, choose from dozens of market indicators. Traders success is our top priority and our goal is to make cryptocurrencies trading profitable for every single one of our traders. .</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ##### About Area End ##### -->

    <div class="cryptos-guide-line section-padding-100 bg-img bg-overlay" style="background-image: url(img/bg-img/bg-3.jpg);">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-6">
                    <div class="section-heading white">
                        <h3 class="mb-4">Simple guide to buy <span>Cryptocurrencies</span></h3>
                        <h5 class="mb-2">As with any investment, it's important to do your research first and understand what you're getting into. At <%- include("partials/siteName") %>, we ensure you a full return on any of your'e investment</h5>
                    </div>
                </div>
            </div>

            <div class="row align-items-center">
                <div class="col-12 col-md-6">
                    <div class="guideline-content">
                        <!-- Single Step -->
                        <div class="single-step d-flex">
                            <div class="quantity">01</div>
                            <div class="step-content">
                                <h6>Create Account</h6>
                                <p>Creating an account is seemless with <%- include("partials/siteName") %>. Just navigate to the register page</p>
                            </div>
                        </div>
                        <!-- Single Step -->
                        <div class="single-step d-flex">
                            <div class="quantity">02</div>
                            <div class="step-content">
                                <h6>Deposit Crypto</h6>
                                <p>At <%- include("partials/siteName") %> we make use of crypto currencies for a faster and more seemless transaction when depositing and withdrawing.</p>
                            </div>
                        </div>
                        <!-- Single Step -->
                        <div class="single-step d-flex">
                            <div class="quantity">03</div>
                            <div class="step-content">
                                <h6>Invest in a plan</h6>
                                <p>We have an availability of plans to better suite your budget and earnings.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <div class="guideline-thumb">
                        
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- ##### About Area Start ##### -->
    <section class="cryptos-video-area section-padding-100-0">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-12 col-md-6">
                    <div class="about-content mb-100">
                        <div class="section-heading">
                            <h3>The begginer’s guide to <span>Crypto</span></h3>
                            <h5>Despite its well-known volatility, cryptocurrency is on fire and many investors are looking to profit on its white-hot rise. </h5>
                            <p>Cryptos such as Bitcoin and Ethereum have existed for a while and then climb higher, and many other popular digital currencies are doing so, too. Experienced traders have been speculating on crypto for years. but what if you’re new to the market and looking to get a piece of the action? Then you are at the right place, <%- include("partials/siteName") %> have experts behind desks working to make sure you do not suffer losses</p>
                            <a href="#" class="btn cryptos-btn mt-30">Read More</a>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <div class="video-area mb-100">
                        <img src="img/bg-img/bg-4.jpg" alt="">
                        <div class="video-btn">
                            <a href="https://www.youtube.com/watch?v=f5BBJ4ySgpo" class="videobtn"><img src="img/bg-img/video-btn.png" alt=""></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        
        <div class="whitepaper container">
            <h3>View and download our legal documents and white paper</h3>
            <p>We are honest and open. In these files below, you will find <%- include("partials/siteName") %> registration and whitepaper documents</p>
            <p><a href="">View and Download our Financial Services Compensation Scheme documents (.DOC)</a></p>
            <p><a href="">View and Download our Registration documents (.PDF)</a></p>
            <p><a href="">View and Download our Complaints handling procedure (.PDF)</a></p>
        </div>
    </section>
    <!-- ##### About Area End ##### -->

<style>
    p a{
        color:orange;
    }
</style>


    <!-- ##### Footer Area Start ##### -->
    <%- include("partials/footer") %>
    <!-- ##### Footer Area Start ##### -->

    <!-- ##### All Javascript Script ##### -->
    <!-- jQuery-2.2.4 js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <!-- Popper js -->
    <script src="js/bootstrap/popper.min.js"></script>
    <!-- Bootstrap js -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <!-- All Plugins js -->
    <script src="js/plugins/plugins.js"></script>
    <!-- Active js -->
    <script src="js/active.js"></script>
    <script src=js/testimonial.js></script>
</body>

</html>