<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Title -->
    <title><%- include("partials/siteName") %></title>

    <%- include("partials/csshead") %>
    <%- include("translate.ejs") %>
</head>
<body>
    <!-- ##### Preloader ##### -->
    <div id="preloader">
        <i class="circle-preloader"></i>
    </div>

    <!-- ##### Header Area Start ##### -->
    <%- include("partials/header") %>
    <!-- ##### Header Area Ends ##### -->
    <section class="container">
        <h2>Privacy policy</h2>
        <div class="col-10 mx-auto">
            
            <div class="card w-100 mx-auto h-100">
                
                <div class="card-body">
                    <p> This document "Privacy Policy" governs the collection, processing, and use of personal data of the Client.
                        <%- include("partials/siteName") %> is the only data controller in full compliance with this Privacy Policy, which defines the procedure for the collection, processing, and use of the client’s personal data by the company as a data controller.
                    </p> 
                <p>
                    <%- include("partials/siteName") %> and its affiliates guarantee and undertake to make every possible effort to protect the Client's confidentiality. <%- include("partials/siteName") %> may use the information collected about the Customer to fulfill its contractual obligations and optimize customer service.
                </p>
                <p>
                Before using the site, please carefully study this document in order to fully understand our position and policy regarding the personal data of Clients and how we will use them.
                </p>
                <p>
                The information provided by the client. The client may provide us with information about himself by filling out the appropriate forms on the site or by providing such information by phone or e-mail, in the course of contacting Client Support or in any other way.
                Information we collect about clients
                Each time the client visits our website and uses our services, we can collect the following data about the client (including automatically):
                </p>
                <p>
                technical information, for example, IP address used to connect the client's computer to the Internet; client login data: browser type and version, operating system, etc.
                data about the Client visit to the site;
                financial information, including data on transactions and the status of the account and the movement of funds, as well as information on the deposit and withdrawal of funds.</p>
                <p>
                Purpose of using the Client's personal data:<br/>

                for the fulfillment of the obligations specified in the agreements concluded with the client, as well as for the purpose of providing the client with the requested information;<br/>
                to ensure the legislation requirements to prevent the legalization of proceeds from crime (money laundering) and terrorism financing;<br/>
                to manage the site and to conduct internal operations, including the elimination of errors and analysis of information;<br/>
                to optimize the site and to make sure that the site content is as convenient as possible for the client’s computer OS;<br/>
                to provide the client access to the interactive features of the site in case the Client wants to use them;<br/>
                to ensure the safe provision of our services, as well as the security of client accounts;<br/>
                to provide customers with support and to respond to client complaints and questions related to the use of our services and website features;<br/>
                We undertake to store the client’s personal data as long as it is necessary, taking into account the goals described in this Privacy Policy, and our legal and regulatory requirements. In order to comply with obligations to record information, we will retain all personal data of Customers for five years.
                </p>
                                </div>
                            </div>
                
            
        </div>
        
    </section>
    
    

    <!-- ##### Footer Area Start ##### -->
    <%- include("partials/footer") %>
    <!-- ##### Footer Area Ends ##### -->
    <!-- ##### All Javascript Script ##### -->
    <!-- jQuery-2.2.4 js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <!-- Popper js -->
    <script src="js/bootstrap/popper.min.js"></script>
    <!-- Bootstrap js -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <!-- All Plugins js -->
    <script src="js/plugins/plugins.js"></script>
    <!-- Active js -->
    <script src="js/active.js"></script>
    <script src=js/testimonial.js></script>

</body>